<!DOCTYPE html>
<html>
  <head>
    <title>Mongo Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="container">
        <h1>Products List</h1>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/products">Products</a></li>
            </ol>
        </nav>

        <form action="/filter" method="POST">
            <div class="form-row">
                <div class="form-group col-md-2 h-50 align-self-end">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="online" name="isOnline" class="custom-control-input" value="online" <%= product.isOnline ? 'checked' : '' %>>
                        <label class="custom-control-label" for="online">Online</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="offline" name="isOnline" class="custom-control-input" value="offline" <%= product.isOnline === false ? 'checked' : '' %>>
                        <label class="custom-control-label" for="offline">Offline</label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="category">Category</label>
                    <select id="category" name="category" class="form-control">
                    <option selected value=''>Choose...</option>
                    <% for( let i = 0; i < categories.length; i++ ) { %>
                    <option value=<%= categories[i] %> <%= product.category === categories[i] ? 'selected' : '' %> ><%= categories[i] %></option>
                    <% } %>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputZip">Min stock</label>
                    <input type="text" name="minStock" class="form-control" id="minStock" value=<%= product.stock ? product.stock['$gte'] : 0 %>>  
                </div>
                <div class="form-group col-md-1">
                    <label for="inputZip">Max stock</label>
                    <input type="text" name="maxStock" class="form-control" id="maxStock" value=<%= product.stock ? product.stock['$lte'] : 10000 %>>
                </div>
                <div class="form-group col-md-1 h-50 align-self-end">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
        
        <ul class="list-group">
            <% for( let i = 0; i < products.length; i++ ) { %>
            <li class="list-group-item">
                <span class="font-weight-bold"><%= products[i].name %></span>
                <span class="badge badge-primary"><%= products[i].category %></span>
                <% if (products[i].isOnline) { %>
                <span class="badge badge-success">isOnline</span> 
                <% } %>
                <span class="badge badge-warning">Stock: <%= products[i].stock %></span>
            </li>
            <% } %>
        </ul>
      </div>
  </body>
</html>